#container1{
    background-color: yellow;
    text-align: center;
    color: green;
} 
#container2{
    background-color: purple;
    color: white;
    text-decoration: underline;
    width: 50%;
}
#container3{
    background-color: grey;
    width: 150px;
    height: 150px;
    float: right;
} 
img{
    width: 100px;
    height: 100px;
} 
div{
    border: 3px dashed black;
    display: inline-block;
} 