@media (max-width: 900px) {
    header {
        background-color: rgb(90,244,196);
        border: 5px red;
        border-style: hidden hidden solid hidden;
    }
    
    h1 {
        margin-top: 0px;
    }
    
    ul li {
        background-color: rgb(13,60,45);
        display: inline-block;
        padding: 10px;
        width: 30%;
        text-align: center;
        text-decoration: underline white;
    }
    
    ul li:hover {
        background-color: rgb(19, 79, 60);
    }
    
    ul {
        margin-bottom: 0px;
    }
    
    li a {
        text-decoration: none;
        color: white;
    }
    
    main {
        background-color: rgb(141,165,160);
    }
    
    main h2 {
        margin-top: 0px;
    }
    
    aside {
        background-color: rgb(81,100,95);
    }
    
    section {
        background-color: rgb(216,235,230);
        border: 2px;
        border-style: solid;
        margin: 15px;
    }
    
    section h3 {
        padding-top: 10px;
        padding-left: 10px;
        margin-top: 0px;
    }
    
    article p{
        margin-left: 20px;
        margin-right: 20px;
        border: 3px rgb(13,117,31);
        border-style: hidden hidden dotted hidden;
    }
    
    footer {
        background-color: rgb(0,0,0);
        color: rgb(185,180,185);
        text-align: right;
    }
    
    body {
        display: grid;
        border: 5px;
        border-style: solid;
    }
    
    aside {
        color: white;
        font-weight: bold;
        padding-bottom: 70px;
        padding-top: 10px;
    }
    
    aside p {
        margin: 2px;
    }
} 

@media (min-width: 901px) {
    header {
        background-color: rgb(150,96,227);
        padding-bottom: 5px;
    }
    
    header h1 {
        text-align: right;
        padding-top: 10px;
        padding-right: 15px;
        margin-bottom: 0px;
    }
    
    ul li {
        background-color: rgb(215,192,248);
        display: inline-block;
        padding: 10px;
        text-align: center;
    }
    
    ul li:hover {
        background: rgb(203, 176, 241);
    }
    
    ul {
        text-align: right;
        margin-top: 0px;
        padding-right: 15px;
    }
    
    main {
        background-color: rgb(145,136,164);
        border: 3px;
        border-style: solid;
        float: left;
        width: 76.5%
    }
    
    main h2{
        margin: 0px;
        padding: 10px;
    }
    
    section {
        margin: 0px;
    }
    
    section h3{
        background-color: rgb(165,156,189);
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    section article {
        width: 30%;
        display: inline-block;
        margin: 10px;
    }
    
    article p {
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px red;
        border-style: solid;
        text-align: center;
    }
    
    footer {
        background-color: rgb(40,23,89);
        margin-top: 0px;
        padding-bottom: 70px;
        color: rgb(185,180,185);
        clear: both;
    }
    
    aside {
        background-color: rgb(254,210,173);
        margin: 0px;
        float: right;
        width: 20%;
        border: 3px;
        border-style: solid;
        padding: 10px;
    }
    
    aside p {
        margin: 0px;
    }
    
    body {
        border: 5px;
        border-style: solid;
    }
    
} 