* {
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(161, 145, 145);
}

.blank {
    background-color: white;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.numbered {
    border-width: 0;
}

#header {
    margin: 20px;
}

h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    text-align: right;
    margin-top: 5px;
}

#vidas {
    margin-left: 50px;
}